body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    /* Adjust max-width to preference */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 0 1em;
    /* Create equal spacing on the left and right */
    box-sizing: border-box;
}

header {
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    padding: 1rem;
    margin: 1rem;
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    padding: 1rem;
    margin: 1rem;
    display: flex
}

.nav-links a {
    margin: 10px 20px;
    text-decoration: none;

    font-size: 18px;
    color: black;
    cursor: pointer;
}


/* Header Setting */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 1em;
    margin: 1.5em 0;

}

.text-section {
    max-width: 600px;
}

.text-section h3 {
    margin: 0;
    font-size: 25px;
}

.text-section h1 {
    margin: 0.5em 0;
    font-size: 48px;

}

.text-section h1 span {
    color: #004600;
}

.text-section p {
    font-size: 17px;
}


.product-img img {
    max-width: 100%;
    height: auto;
    transition: animation 2s;
    animation: zoomIn 5s infinite ease;

}



.contact-us {
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: white;
    font-family: arial;
    font-weight: 700px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.7s;
}


.contact-us:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}



#check-btn {
    display: none;
}

#check-label {
    display: none;
}


@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1);
    }


}


/* Benefits Section  */


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 15% 0;
}


.card {
    padding: 20px;
    background:linear-gradient(45deg,#f3e434 20%,#a8de6c 60%);
    max-width: calc(3 * 100%);
    margin: 10px 20px;

}

.benefit {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border:1px solid rgba(0, 0, 0, 0.359);
    
}

.benefit h2{
    font-size: 20px;
}







/* Price Section */

.price-container{
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.price-card-container{
    background-color: white;
   width: 40%;
   padding: 35px;
}

.price-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.236);
    padding: 20px;
    flex-direction: column;
    text-align: center;
   
}
.price-card strong{
    font-size: 17px;
    color: grey;
}
.price-card h2{
    font-size: 30px;
    color: #002000;
  
    
}

.price-card h3{
    font-size: 50px;
    color: #004600;
   
}
.price-card span{
    font-size: 18px;
   
}

.price-card p{
    color: grey;
}

.price-btn{
    background-color: #004600;
}

.price-btn:hover{
    border: 2px solid #004600;
    color: #004600;
}



/* Best Benefits Of Product Section */

.best-benefits{
    text-align: center;
}

.best-benefits h1{
      font-size: 30px;
}

.all-benefits{
    display: flex;
    flex-direction: column;
    
}

.best-benefits-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.best-benefits-section{
    text-align: center;
}


.benefit-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-content{
    text-align: left;
    width: 50%;
    margin: 10px 20px;
}

.benefit-content h2{
    font-size: 18px;
}

.benefit-content p{
    color: grey;
}






/* Guide Container */


.guide-container{
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.guide-content{
    text-align: center;
    margin: 20px 10px;
    
    
}

.guide-content h1{
    font-size: 30px;
}
.guide-content p{
    font-size: 17px;
}
.steps-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding: 25px;
    
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
}

.steps-icon{
    padding: 40px;
    border-radius: 100%;
    border: 3px solid rgba(0, 0, 0, 0.126);
}