body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    animation:fadeIn 0.5s;
  
}

.container {
    max-width: 1200px;
    /* Adjust max-width to preference */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 0 1em;
    /* Create equal spacing on the left and right */
    box-sizing: border-box;
}

header {
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.logo {
    padding: 1rem;
    margin: 1rem;
    color: black;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}





.nav-links {
    padding: 1rem;
    margin: 1rem;
    display: flex
}

.nav-links a {
    margin: 10px 20px;
    text-decoration: none;

    font-size: 17px;
    color: black;
    cursor: pointer;
}

.nav-links a:hover{
    color: #004600;
    font-weight: bold;
  
}

/* Header Setting */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 1em;
    margin: 1.5em 0;

}

.text-section {
    max-width: 600px;
}

.text-section h3 {
    margin: 0;
    animation:jackInTheBox 1s;
    font-size: 25px;
}

.text-section h1 {
    margin: 0.5em 0;
    font-size: 48px;

}

.text-section h1 span {
    color: #004600;
}

.text-section p {
    font-size: 17px;
}


.product-img img {
    max-width: 100%;
    height: auto;
    transition: animation 2s;
    animation:pulse 5s infinite ease alternate;

}



.contact-us {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-family: arial;
    font-weight: 700px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.7s;
    text-decoration: none;
    display: inline-block ;
    animation:fadeInUp 1s;
    
}


.contact-us:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}



#check-btn {
    display: none;
}

#check-label {
    display: none;
}




/* Benefits Section  */


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 15% 0;
}


.card {
    padding: 20px;
    background: linear-gradient(45deg, #f3e434 20%, #a8de6c 60%);
    max-width: calc(3 * 100%);
    margin: 10px 20px;
    animation:fadeInDown 1s;

}

.benefit {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.359);

}

.benefit h2 {
    font-size: 20px;
}





/* Price Section */

.price-container {
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.price-card-container {
    background-color: white;
    width: 40%;
    padding: 35px;
}

.price-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.236);
    padding: 20px;
    flex-direction: column;
    text-align: center;

}

.price-card strong {
    font-size: 17px;
    color: grey;
}

.price-card h2 {
    font-size: 30px;
    color: #002000;


}

.price-card h3 {
    font-size: 50px;
    color: #004600;

}

.price-card span {
    font-size: 18px;

}

.price-card p {
    color: grey;
}

.price-btn {
    background-color: #004600;
}

.price-btn:hover {
    border: 2px solid #004600;
    color: #004600;
}



/* Best Benefits Of Product Section */

.best-benefits {
    text-align: center;
}

.best-benefits h2 {
    margin: 0.5em 0;
    font-size: 40px;

}

.best-benefits h2 span {
    color: #004600;
}

.all-benefits {
    display: flex;
    flex-direction: column;

}

.best-benefits-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.best-benefits-section {
    text-align: center;
}


.benefit-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-content {
    text-align: left;
    width: 50%;
    margin: 10px 20px;
}

.benefit-content h2 {
    font-size: 18px;
}

.benefit-content p {
    color: grey;
}






/* Guide Container */


.guide-container {
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.guide-content {
    text-align: center;
    margin: 20px 10px;


}

.guide-content h2 {
    margin: 0.5em 0;
    font-size: 40px;

}

.guide-content h2 span {
    color: #004600;
}



.guide-content p {
    font-size: 17px;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding: 25px;

}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
}

.steps-icon {
    padding: 40px;
    border-radius: 100%;
    border: 3px solid rgba(0, 0, 0, 0.126);
}



/* Product Container */

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.product-content {
    text-align: center;
}


.product-content h2 {
    margin: 0.5em 0;
    font-size: 40px;

}

.product-content h2 span {
    color: #004600;
}


.product-sell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.33);
    transition: box-shadow 400ms;
}

.product:hover {
    box-shadow: 3px 3px 18px 4px rgba(128, 128, 128, 0.697);
}

.product h3 {
    color: #004600;
    font-size: 25px;
}

.product p {
    font-size: 18px;
}

.product img {
    max-width: 70%;
}

.product button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #004600;
    color: #004600;
    font-size: 18px;
}

.product:hover button {
    background-color: #004600;
    color: white;
    border: none;
}


/* Testimonial Section Start */

.testimonial-container {
    background: linear-gradient(45deg, #f3e334de 50%, #a9de6ced), url(All-Images/header-bg.jpg) no-repeat center center/cover;
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}

.testimonial-content {
    padding: 20px;
}

.testimonial-content h2 {
    margin: 0.5em 0;
    font-size: 35px;


}

.testimonial-content h2 span {
    color: #004600;
}


.testimonial-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding: 20px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px 30px;
    margin: 20px 10px;
}


.testimonial-card strong {
    font-size: 22px;
}





/* FOOTER START */


.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));    
    justify-items: center;

}

.footer-section {
    padding: 20px;
    margin: 10px;

}
.logo-section h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo-section p{
    color: gray;
    line-height: 20px;
    font-size: 17px;
}
.footer-section li{
    color: gray;
    list-style-type: none;
    margin: 15px 0px;
    font-size: 17px;
   
}

.footer-section li img{
   width: 5%;
   margin: 0px 10px;
}

.footer-icons img{
  
    margin: 5px 3px;
    padding: 5px;

  
}



.link-section li a{
      text-decoration: none;
      color: gray;
      list-style-type: none;
      transition: all 400ms;
      position: relative;
      left: 0;
      cursor: pointer;
       
}

.link-section li a:hover{
    color: #004600;
    left: 4px;
  
    
}
.footer-bottom{
    text-align: center;
    color: gray;
    padding: 10px;
}

hr {
    border: 0;
    height: 3px;
    background: #cccccc34; /* Adjust color as needed */

}









/* About Us Page */

.text-section .About-title{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin-top:10% ;
   animation:jackInTheBox 1s;
}

.text-section .About-pera{
    padding: 10px;
    text-align: center;
    font-size:15px;
    margin-bottom: 20%;
    line-height: 22px;
    color:rgb(0, 0, 0);
    animation:fadeInDown 1s;
}


